.collapsible {
    overflow: hidden;
}

.collapsible.collapsed {
    height: 0;
}

.workspace {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.section {
    flex-grow: 1;
    flex-basis: 4;
    padding: 1rem;
}

.is-flex-direction-column {
    flex-direction: column;
}

.file-view, .settings-view {
    width: 250px;
}

.main-workspace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.table-view {
    height: 200px;
}